:root {
  /* light */
  --primary-color: #451200;
  --secondary-color: #968154;
  --base-color: #FFFFFF;
  --switch-bg: #F0ECE5;
  --switch-color: #FFFFFF;
  --graph-color: #ff5925;

  --small-screen-width: 600px;

  --danger-color: #f87171;
  --neutral-color: #fdba74;
  --success-color: #a3e635;

  --secondary-bg: #FCFAF9;

}

.isNight {
  --primary-color: #ffffff;
  --secondary-color: #8989bb;
  --base-color: #28284d;
  --switch-bg: #1c1c38;
  --switch-color: #3d3d75;
  --graph-color: #ffffff;

  --secondary-bg: #3d3d75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-color);
  font-family: 'Montserrat', sans-serif;
}
